<div class="form-container">
  <div class="form-title">
    <h2>{{ this.data.action === 'create' ? 'Create' : 'Update' }}</h2>
  </div>

  <form [formGroup]="form" class="form-body">
    <div class="form-content">
      @for (control of form.controls | keyvalue: originalOrder; track control.key) {
        @if (isTextControl(control.value)) {
          <rs-label-text-form-control
            [fc]="control.value"
            [labelSize]="'w-4/12'"
            [inputSize]="'w-full'"
          ></rs-label-text-form-control>
        } @else if (isEmailControl(control.value)) {
          <rs-label-email-form-control
            [fc]="control.value"
            [labelSize]="'w-4/12'"
            [inputSize]="'w-full'"
          ></rs-label-email-form-control>
        } @else if (isPasswordControl(control.value)) {
          <rs-label-password-form-control
            [fc]="control.value"
            [labelSize]="'w-4/12'"
            [inputSize]="'w-full'"
          ></rs-label-password-form-control>
        }
      }
    </div>

    <div class="form-actions">
      <rs-button-control [cssClass]="'btn-primary'" [label]="this.data.action === 'create' ? 'Create' : 'Update'" (buttonClicked)="processSubmit()"></rs-button-control>
      <rs-button-control [cssClass]="'btn-secondary'"[label]="'Close'"  (buttonClicked)="close()"></rs-button-control>
    </div>
  </form>
</div>

