<div class="flex flex-col">
  <h2>Profile</h2>
  <div class="py-1">
    <div class="content-group">
      <h5 class="content-group-title">Basic Information</h5>
      <div class="content-group-content">
      </div>
    </div>

    <div class="content-group">
      <h5 class="content-group-title">Security</h5>
      <div class="content-group-content">
      </div>
    </div>

    <div class="content-group">
      <h5 class="content-group-title">Preference</h5>
      <div class="content-group-content">
      </div>
    </div>
  </div>
</div>
