<rs-label-form-control-base [fc]="fc()" [labelSize]="labelSize()" [inputSize]="inputSize()">
  <select class="form-control" [formControl]="fc()" [class]="fc().elementCssClass()" #input>
    @for(item of fc().dropdownData() ; track item.value) {
      <option class="form-dropdown-options" [value]="item.value" [selected]="item.value === fc().value && 'selected'">{{ item.title }}</option>
    }
  </select>
  <ng-container attach>
    <ng-content select="[attach]"></ng-content>
  </ng-container>

  <ng-content></ng-content>
</rs-label-form-control-base>
