<!-- Sidebar Navigation -->
<aside 
  [class.w-64]="isExpanded()" 
  [class.w-16]="!isExpanded()" 
  class="fixed z-50 bg-white border-r transition-all duration-300 ease-in-out flex flex-col justify-between py-4 h-full">
    <nav class="space-y-1 px-0">
        @for (item of navItems; track item.label) {
            @if (!item.children) {
                <rs-nav-item-control 
                [navItem]="item" 
                [isExpanded]="isExpanded()" 
                (navigationClicked)="onNavigationClicked()">
                </rs-nav-item-control>
            } @else {
                <rs-nav-item-group-control 
                [navItem]="item" 
                [isExpanded]="isExpanded()" 
                (navigationClicked)="onNavigationClicked()">
                </rs-nav-item-group-control>
            }
        } 
    </nav>
</aside>