<div class="flex flex-col">
  <h2>Settings</h2>
  <div class="py-1">
    <div class="group">
      <h5 class="group-title">Group</h5>

      <div class="group-content">
        <div class="flex items-center justify-between p-1">
          <span>Dark Mode</span>
          <rs-toggle [toggle]="darkMode()" [isCheck]="themeService.isDarkMode()" (toggleChecked)="themeService.toggle()"></rs-toggle>
        </div>

        <div class="flex flex-col p-1">
          <rs-list-control [options]="listOptions" [fc]="listFG"></rs-list-control>
        </div>

        <div class="flex items-center justify-between p-1">
            <span>API Configuration</span>
            <rs-button-control [cssClass]="'btn-primary'" [icon]="'open_in_new_down'" [label]="'Open'" (buttonClicked)="OnAPIConfigOpen()"></rs-button-control>
          <!-- <text-form-control [config]="this.config"></text-form-control> -->
        </div>

        <div class="flex flex-col p-1">
          <!-- <rs-custom-text-form-control [formField]="settingsForm.testing" [config]="testingConfig()"></rs-custom-text-form-control>
          <rs-custom-dropdown-form-control [formField]="settingsForm.testing2" [config]="testing2Config()"></rs-custom-dropdown-form-control>
          <rs-custom-combobox-form-control [formField]="settingsForm.testing3" [config]="testing3Config()"></rs-custom-combobox-form-control>
          <rs-custom-datepicker [formField]="settingsForm.testing4" [config]="testing4Config()"></rs-custom-datepicker>
          <rs-custom-radio-group [formField]="settingsForm.testing5" [config]="testing5Config()"></rs-custom-radio-group>
          <rs-custom-textarea-form-control [formField]="settingsForm.testing6" [config]="testing6Config()"></rs-custom-textarea-form-control>
           -->
          <rs-custom-checkbox-form-control [formField]="settingsForm.testing" [config]="testingConfig()"></rs-custom-checkbox-form-control>
        </div>
      </div>
    </div>
  </div>
</div>


