/*
  Component Styles
*/

.frame {
  @apply min-h-screen w-full bg-slate-50 flex flex-col;
}

.content {
  @apply flex-1 flex flex-col;
}

.link {
  @apply text-blue-600 underline font-semibold transition-colors duration-200;
}

.link:hover {
  @apply text-blue-800 cursor-pointer;
}

.link:focus {
  @apply outline-none ring-2 ring-blue-400;
}

.beta-badge {
  @apply inline-block px-2 py-1 text-xs font-bold leading-none text-white bg-blue-600 rounded;
}

.nav-icon {
  @apply w-16 h-12 flex-shrink-0 flex items-center justify-center !m-0;
}

mat-icon {
  @apply flex items-center justify-center m-0 p-0 w-6 h-6 text-2xl;
}

.mat-expansion-indicator {
  @apply relative right-4 flex items-center;
}

.nav-item-link {
  @apply relative flex items-center !h-12 w-full overflow-hidden !bg-transparent
    before:absolute before:inset-0 before:bg-blue-600 before:origin-left 
    before:scale-x-0 before:transition-transform before:duration-300 
    hover:before:scale-x-100;
}

.nav-group-link {
  @apply relative flex items-center !h-12 w-full overflow-hidden !bg-transparent 
  before:absolute before:inset-0 before:bg-blue-600 before:origin-left 
    before:scale-x-0 before:transition-transform before:duration-300 
    hover:before:scale-x-100;
}

.is-active div {
  @apply cursor-default pointer-events-none bg-transparent;
}

.is-active mat-icon {
  @apply font-bold text-white bg-blue-600;
}

.is-active span {
  @apply font-bold text-white bg-blue-600;
}

.is-active mat-expansion-panel-header {
  @apply bg-blue-600;
}

.is-active .nav-item {
  @apply w-full bg-blue-600;
}

.nav-group-item {
  @apply p-0;
}

.chevron {
  @apply items-center;
}

th.mat-mdc-header-cell {
  @apply font-bold text-center;
}

.action-grp {
  @apply flex justify-end items-center gap-2;
}

.action-btn {
  @apply relative w-9 h-9 flex items-center justify-center rounded-md
         hover:bg-gray-100 transition
         hover:[&>span]:opacity-100 hover:[&>span]:translate-y-0;
}

.action-label {
  @apply absolute left-1/2 -translate-x-1/2 bottom-full mb-2
           px-2 py-1 text-xs text-white bg-gray-800 rounded
           opacity-0 translate-y-1 transition-all
           pointer-events-none whitespace-nowrap;
}

.action-header {
  @apply text-center w-24;
}

.action-row {
  @apply w-24 text-right;
}
