<div class="group relative">
  <div (mouseenter)="isHovered.set(true)" (mouseleave)="isHovered.set(false)">
    <button
      [disabled]="!isExpanded()"
      [class.font-bold]="isChildActive()"
      [class.is-active]="isChildActive()"
      class="w-full flex items-center justify-between py-3 rounded-xl group nav-group-link"
      (click)="toggle()"
    >
      <div class="grid grid-cols-6 nav-item relative z-10 w-full flex items-center !m-0">
        <div class="col-span-5">
          <rs-nav-item-control [navItem]="navItem()" [isExpanded]="isExpanded()">
          </rs-nav-item-control>
        </div>
        <div class="chevron">
          <mat-icon class="transition-all duration-300 flex items-center" [hidden]="!isExpanded()">
            @if (!isGroupExpanded()) {
              keyboard_arrow_down
            } @else {
              keyboard_arrow_up
            }
          </mat-icon>
        </div>
      </div>
    </button>
  </div>

  <div
    class="absolute left-full top-3 z-50 ml-4 transition-all duration-500"
    [class]="
      !isExpanded() && isHovered()
        ? 'group-hover:visible group-hover:opacity-100 translate-x-0 -translate-x-2'
        : 'invisible opacity-0'
    "
  >
    <div
      class="whitespace-nowrap rounded bg-gray-900 px-3 py-1.5 text-xs font-medium text-white shadow-xl ring-1 ring-white/10"
    >
      {{ navItem()?.label }}
      <!-- Arrow -->
      <div
        class="absolute right-full top-1/2 -mr-1 h-2 w-2 -translate-y-1/2 rotate-45 bg-gray-900"
      ></div>
    </div>
  </div>
</div>

<div
  class="overflow-hidden pl-4 ml-4 border-l border-zinc-800 transition-[max-height, opacity] duration-300 ease-in-out will-change-[max-height, opacity]"
  [class.max-h-0]="!isGroupExpanded()"
  [class.opacity-0]="!isGroupExpanded()"
  [class.max-h-96]="isGroupExpanded()"
  [class.opacity-100]="isGroupExpanded()"
>
  @for (child of navItem()?.children; track child.label; let i = $index) {
    <div
      class="transform-gpu transition-all duration-300 ease-out will-change-transform"
      [class.opacity-0]="!isGroupExpanded()"
      [class.translate-y-[-6px]]="!isGroupExpanded()"
      [class.opacity-100]="isGroupExpanded()"
      [class.translate-y-0]="isGroupExpanded()"
      [style.transition-delay.ms]="isGroupExpanded() ? i * 35 : 0"
    >
      <rs-nav-item-control
        [navItem]="child"
        [isExpanded]="isExpanded()"
        (navigationClicked)="onNavigationClicked()"
      >
      </rs-nav-item-control>
    </div>
  }
</div>
