<div class="group relative overflow-visible">
  <div (mouseenter)="isHovered.set(true)" (mouseleave)="isHovered.set(false)">
    <div [class.font-bold]="isChildActive()"
      [class.is-active]="isChildActive()"
      class="nav-group-link"
      (click)="toggle()"
      (keydown.enter)="toggle()"
      tabindex="0">
      <div class="grid grid-cols-6 nav-item relative z-10 w-full items-center m-0!">
        <div class="col-span-5">
          <rs-nav-item-control [navItem]="navItem()" [isGroup]="true" [isExpanded]="isExpanded()">
          </rs-nav-item-control>
        </div>
        <div class="chevron">
          <mat-icon class="transition-all duration-300 flex items-center" [hidden]="!isExpanded()">
            @if (!isGroupExpanded()) {
              keyboard_arrow_down
            } @else {
              keyboard_arrow_up
            }
          </mat-icon>
        </div>
      </div>
    </div>

    <div class="absolute left-full top-0 z-50 transition-all duration-300"
        [class.opacity-100]="!isExpanded() && isHovered()"
        [class.translate-x-0]="!isExpanded() && isHovered()"
        [class.pointer-events-auto]="!isExpanded() && isHovered()"
        [class.pointer-events-none]="isExpanded() || !isHovered()"
        [class.invisible]="isExpanded() || !isHovered()"
        [class.visible]="!isExpanded() && isHovered()">
        <div class="relative w-16 bg-white border transition-all duration-300 ease-out flex flex-col"
        [class]="!hasSecondLayer() ? 'rounded-r-xl' : 'rounded-tr-xl'">
          @for (child of navItem()?.children; track child.label) {
            <div class="flex nav-item relative w-full items-center m-0!">
              @if(child.children) {
                <rs-nav-item-group-control [navItem]="child" [isExpanded]="isExpanded()">
                </rs-nav-item-group-control>
              }
              @else {
                <rs-nav-item-control [navItem]="child" [isExpanded]="isExpanded()">
                </rs-nav-item-control>
              }
            </div>
          }
        </div>
    </div>
  </div>
</div>

<div
  class="overflow-hidden pl-4 ml-4 border-l border-zinc-800 transition-[max-height, opacity] duration-300 ease-in-out will-change-[max-height, opacity]"
  [class.max-h-0]="!isGroupExpanded()"
  [class.opacity-0]="!isGroupExpanded()"
  [class.max-h-96]="isGroupExpanded()"
  [class.opacity-100]="isGroupExpanded()"
>
  @for (child of navItem()?.children; track child.label; let i = $index) {
    <div
      class="transform-gpu transition-all duration-300 ease-out will-change-transform"
      [class.opacity-0]="!isGroupExpanded()"
      [class.translate-y-[-6px]]="!isGroupExpanded()"
      [class.opacity-100]="isGroupExpanded()"
      [class.translate-y-0]="isGroupExpanded()"
      [style.transition-delay.ms]="isGroupExpanded() ? i * 35 : 0"
    >
      <rs-nav-item-control
        [navItem]="child"
        [isExpanded]="isExpanded()"
        (navigationClicked)="onNavigationClicked()"
      >
      </rs-nav-item-control>
    </div>
  }
</div>
