<div class="w-75 mx-auto">
  <div class="mb-8 flex justify-center text-2xl font-semibold">
    <span>Login</span>
  </div>
  <div class="space-y-4">
    <form class="flex items-center border-b border-teal-50" [formGroup]="form">
      <div class="flex flex-wrap">
          <!-- <div class="w-full flex justify-center">

          </div> -->
          <!-- <rs-label-email-form-control [fc]="emailFC" [labelSize]="'col-label'" [inputSize]="'col-input'" tabindex="0"></rs-label-email-form-control>
          <rs-label-password-form-control [fc]="passwordFC" [labelSize]="'col-label'" [inputSize]="'col-input'" tabindex="1"></rs-label-password-form-control> -->
          <div class="w-full mb-1">
              <rs-email-form-control [fc]="emailFC" tabindex="0"></rs-email-form-control>
              <rs-password-form-control [fc]="passwordFC" tabindex="1"></rs-password-form-control>
          </div>

          <div class="w-full btn-login"
            [class.disabled]="form.invalid" (click)="form.invalid ? null : onSubmit()"
            (keyup.enter)="onSubmit()" role="button" tabindex="2">
            <div class="btn-label">
              <span>Login</span>
            </div>
          </div>

        </div>
    </form>

    <div class="flex flex-col space-y-4 h-full">
      <p class="text-center text-sm mt-4">
        No account?
        <!-- <a href="/register" class="text-blue-600 underline">Register</a> -->
        <span class="link" (click)="redirectRegister()" (keydown.enter)="redirectRegister()"
  (keydown.space)="redirectRegister()"role="button"
  tabindex="3">Register</span>
      </p>
    </div>

  </div>

</div>








<!-- <div class="flex-md-col w-full bg-white p-9 rounded-xl shadow">






  </div> -->

   <!-- <h1 class="text-xl font-bold text-center mb-4">Login</h1> -->
