<!-- @if(dialog.isVisible) { -->
  <div class="custom-dialog" role="button" tabindex="0" (click)="onBackdropClick($event)">
    <div class="custom-dialog-container" #dialogBody
      [ngClass]="variantClass"
      (click)="$event.stopPropagation()" role="button" tabindex="1">

      @if(config.hasHeader) {
        <ng-container>
          <div class="dialog-header mb-2">
            <ng-content select="[dialog-header]"></ng-content>
          </div>
        </ng-container>
      }


      <ng-template #contentHost></ng-template>

      @if(config.hasFooter)
      {
        <ng-container>
          <div class="dialog-footer mt-4">
            <ng-content select="[dialog-footer]"></ng-content>
          </div>
        </ng-container>
      }
    </div>
  </div>
